
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    #cursor {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(0, 128, 128, 0.3);
        border: 1px solid teal;
        pointer-events: none;
        transition: transform 0.2s ease; /* Smooth transition */
      }     
    
    @font-face {
        font-family: 'DancingScript_Bold';
        src: url("../../public/fonts/Dancing_Script/static/DancingScript-Bold.ttf");
    }
    @font-face {
        font-family: 'Cairo';
        src: url("../../public/fonts/Cairo/static/Cairo-Regular.ttf");
    }
    html{
        font-family: Cairo;
    }
    .logo {
        font-family: DancingScript_Bold, sans-serif;
    }
}

[x-cloak]{
    display: none;
}

.mb{
    background-image: radial-gradient(circle at 1px 1px,rgb(71 85 105) 1px, transparent 0);
    background-size: 40px 40px;
}
.dmb{
    background-image: radial-gradient(circle at 1px 1px, rgb(203 213 225) 1px, transparent 0);
    background-size: 40px 40px;
}